@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/NotoSansKR-Thin.ttf) format('ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NotoSansKR-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NotoSansKR-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/NotoSansKR-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/NotoSansKR-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/NotoSansKR-Black.ttf) format('ttf');
}

html,
body {
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.notistack-SnackbarContainer {
  &,
  [class^='go'] {
    z-index: 100000 !important;
  }
}
